.header {
	width: 60%;
	margin: 0 auto;
}
.header img {
	height:35px;
	width:110px;
}
.header > ul{
	list-style-type: none;
	display: inline-block;
}
.header > ul > li {
	display: inline-block;

}
.header > ul > li > a {
	color: #505050;
	font-family: sans-serif;
	text-decoration: none;
	padding: 10px 20px;
	margin: 2px 2px;
}
.header li a:hover{
	background: #f1f1f1;

}
.header > a{
	margin: 5px 40px;
}
.description{
	background-color: rgb(0, 204, 153);
	width: 100%;
	padding: 50px 0px;
	font-family: sans-serif;
}
.description > #text{
	width: 40%;
	color: #e6fff9;
	font-size: 17px;
	font-weight: lighter;
}
.description > #title{
	color: rgb(255, 255, 255);
	margin: 0px 0px 30px 0;
	font-size: 30px;
	text-shadow: 0px 1px #000;
	font-weight: bold;
}
.description > #button{
	color: #fff;
	background-color: #52527a;
	padding: 15px;
	width: 40px;
	margin: 30px;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
}
.description > #button > li a :hover{
	background-color: #29293d;
}